<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Bootstrap Site</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href"#">Jennifer Humphrey</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Warning!</strong> Better check yourself.
  </div>
<div class="page-header">
      <h1><small>Subtitle</small></h1>
</div>
  <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Home</a></li>
      <li role="presentation"><a href="#">Profile</a></li>
      <li role="presentation"><a href="#">Messages</a></li>
  </ul>
</br>
</br>
<ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Categories</a></li>
      <li><a href="#">Words</a></li>
      <li class="active">Random</li>

    </ol>

    <div class="jumbotron">
      <h1>Yo!</h1>
      <p>be a kind human.</p>

    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Random words that make sense.</h3>
      </div>
      <div class="panel-body">
      <small>To me at least.</small>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">Once in a while, blow your own
        damn mind.

       </br>
     </br>
         And the fact that it bothers me bothers me also. </div>
      <div class="col-md-6">"Beautiful things don't ask for attention."</br></br>Let's try not to figure out everything at once.</br></br></div>
    </div>
    <div class="well">Live with less...

  </div>

    <div class="row">
      <div class="col-md-4">"Guard your time fiercely. Be generous with it,
        but be intentional about it."

      </br>
    </br>
    The quietest people have the loudest minds.
</div>

    <div class="col-md-4">We finished the first week of gSchool!
    On to week two...</br></br>It wasn't a waste of time if you learned
    something.</div>
  </div>
  <table class="table table-striped table-bordered">
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <tr>
      <td>George</td>
      <td>Bush</td>
      <td>Dubya</td>
    </tr>
    <tr>
      <td>James</td>
      <td>Madison</td>
      <td>Little Jemmy</td>
    </tr>
    <tr>
      <td>Abraham</td>
      <td>Lincoln</td>
      <td>Uncle Abe</td>
    </tr>
  </table>
</div>



        </div>
